*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
    
}
.home{
    margin-left: 200px;
}
.nav-list{
    margin-right: 200px;

}
.list-item{
    display: inline-block;
    padding: 20px 10px;
}
a {
    color: white;
    text-decoration: none;
}
a:hover{
    color: red;
}
.home-page {
    display: flex;
    flex-direction: column;
    background-color: rgba(122, 130, 221, 0.801);
    color: white;
}
 