*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
    
}
.home{
    margin-left: 200px;
}
.nav-list{
    margin-right: 200px;

}
.list-item{
    display: inline-block;
    padding: 20px 10px;
}
a {
    color: white;
    text-decoration: none;
}
a:hover{
    color: red;
}
.home-page {
    display: flex;
    flex-direction: column;
    background-color: rgba(122, 130, 221, 0.801);
    color: #fff;

}
 .home-page-child{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-self: center; */
    /* margin-top: 100px; */
    height: 500px;
 }
 .home-page-list1{
    margin-top: 100px;
    margin-left: 180px;
    font-size: 14px;
    font-weight: 400;
 }
 .home-page-list2{
    padding: 30px;
    font-size: 110px;
    margin-left: 150px;
    line-height: 1;
    font-family: karla, sans-serif;
 }
 .home-page-list3{
    margin-left: 170px;
    padding: 30px;
    font-size: 24px;
    line-height: 1.3;
    
    

 }
 #sentence{
    margin-left: 200px;
    font-family: karla, sans-serif;
    /* display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-family: karla, sans-serif;
    color: #fff;
    line-height: 22px;
    text-decoration: none; */
 }